<div class="standard main rounded mt-4 mb-4" role="main">
    <article class="shadow p-4 border border-secondary rounded position-relative" style="min-height: calc(100vh - 250px)">
      <div class="subdir-header">
          <h1 class="top-h1 subdir-header">
              {{- (.Page.Params.altTitle | default .Page.Title) -}}
          </h1>
          <h5> {{ .Page.Params.subtitle }} </h5>
      </div>


      <!-- <h2> test: {{ .Page.Title }} </h2> -->
      <div class="subpages-container">
          {{ range where .Site.Pages ".Params.subdirectory" "=" .Page.Title }}
          <div class="subpage-section">
              <h4> {{ .Params.Title }} </h4>
              <p> {{ .Params.CustomSummary | default .Summary }} </p>
              <a href=".{{ .Params.Link }}">Read more </a>
          </div>
          {{ end }}
      </div>
  
  
    </article>
  </div>



